allofmy.work {
    tls drswagboss@gmail.com
    gzip
    proxy / wordpress {
                transparent
    }
    rewrite {
        if {path} not_match ^\/wp-admin
        to {path} {path}/ /index.php?_url={uri}
    }
log stdout
errors stderr
}
photos.allofmy.work {
    tls drswagboss@gmail.com
    browse
    gzip
    proxy / photos:80 {
                transparent
                websocket
    }
}
pma.allofmy.work {
    tls drswagboss@gmail.com
    browse
    gzip
    proxy / phpmyadmin:80 {
                transparent
                websocket
    }
}
docker.allofmy.work {
    tls drswagboss@gmail.com
    browse
    gzip
    proxy / management:9000 {
                transparent
                websocket
    }
}
