allofmy.work { 
    tls drswagboss@gmail.com
    root /var/www/wordpress
    browse
    gzip
    fastcgi / 127.0.0.1:9000 php # php variant only
    on startup php-fpm7 # php variant only
    rewrite {
        if {path} not_match ^\/wp-admin
        to {path} {path}/ /index.php?_url={uri}
    }
    proxy / wordpress:8080 {
                transparent
                websocket
    }
}
photos.allofmy.work {
    tls drswagboss@gmail.com
    root /var/www/lychee
    browse
    gzip
    fastcgi / 127.0.0.1:9000 php # php variant only
    on startup php-fpm7 # php variant only
    rewrite {
        to {path} {path}/ /index.php?_url={uri}
    }
    proxy / photos:2500 {
                transparent
                websocket
    }
}
pma.allofmy.work {
    tls drswagboss@gmail.com
    browse
    gzip
    fastcgi / 127.0.0.1:9000 php # php variant only
    on startup php-fpm7 # php variant only
    rewrite {
        to {path} {path}/ /index.php?_url={uri}
    }
    proxy / phpmyadmin:8181 {
                transparent
                websocket
    }
}
docker.allofmy.work {
    tls drswagboss@gmail.com
    browse
    gzip
    fastcgi / 127.0.0.1:9000 php # php variant only
    on startup php-fpm7 # php variant only
    rewrite {
        to {path} {path}/ /index.php?_url={uri}
    }
    proxy / management:9000 {
                transparent
                websocket
    }
}
